
.hero-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('../../Asset/hero.coverpic.jpg');
    
    
    
}
.hero-section{
    width: 550px;
    height: 450px;
    background-color: white;
    position: relative; 
    top: 90px;
    left: 90px;
    padding: 15px 0;
}
.hero-content1{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    align-content: center;

}

.hero-content1 li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;

}

.hero-content2{
    position: relative;
    top: 290px;
    left: -450px;
    width: 500px;
    margin-left: 30px;
    margin-top: -50px;


}

.hero-title{
    font-size: 2.5rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}


.hero-button{
    background-color: black;
    color: white;
    border: 0 solid black;
    padding: 22px;
    font-size: 15px;
    font-weight: 15px;
    margin-left: 4px;
    margin-top: 30px;
    cursor: pointer;
}

.last-title{
    margin-left: 5px;
    margin-top: 50px;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;

 }

.hero-subtitle{
    margin-top: 20px;
    font-size: 15px;
}