body {
    margin: 0;
    padding: 0;
    background-image: url('../Asset/hero.coverpic.jpg');
    background-size: contain;   
}

.hero-container{
    display: flex;
    width: 550px;
    height: 440px;
    border: 1px solid whitesmoke;
    flex-direction: row;
    background-color: whitesmoke;
    margin-left:80px;
    margin-top: 80px;
    
    
}

.hero-content1{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    cursor: pointer;
}
.hero-title{
    font-size: 2.1rem;
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.hero-subtitle{
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 18px;
}

.hero-button{
    background-color: black;
    color: white;
    border: 0 solid black;
    padding: 20px;
    font-size: 15px;
    font-weight: 15px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.last-title{
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;

 }

