.navbar_right{
    background-color: black;
    align-items: center;
    height: 10vh; 

}
  
.navbar_left{
    align-items: center;
    

    
    
}

.nav-items {
    display: flex;
    color: white;  
    justify-content: left;
    
         
}
.nav-items2 {
    color: white;
    display: flex;
    justify-content: right;
    

    



}

li {
    margin-top: 0;
    list-style: none;  
    
      
    
}