.twocontainer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 40px;
    
    
}
 
     
.two-containers{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    width: 100%;
}

.title {
    display: flex;
    margin-right: 735px;
    margin-bottom: 40px;
    word-spacing: 10px;
        
} 


li.last-title2{
    display: flex;
    text-decoration: underline;
    margin-bottom: 1px;
    margin-left: 15px;
    
}

.container-left-title{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 30px;
    
    
}
.container-left-subtitle{
    margin-left: 70px;
    margin-right: 5px;
    font-size: 18px;
    margin-bottom: 25px;
    font-size: 18px;
    word-spacing: 2px;
    position: relative;
    top: 10px;
    left: -48px;
}

.container-right-subtitle {
    margin-bottom: 30px;
    font-size: 18px;
    position: relative;
    top: 10px;
    left: -48px;
    word-spacing: 2px;

}


 .image-left {
    margin-left: 30px;
    
 }

.image-right {
    margin-right: 38px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    left: -48px;
    
}

.container-right-title {
    margin-left: -44px;
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 30px;
}

li.last-title3{
    margin-left: -45px;
    text-decoration: underline;
}